<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>NextSong</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../static/styles.css"> -->
  <!-- flask picking up .css file -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
  <link rel="icon" href="../static/images/logo.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{{url_for('static', filename='app.js')}}"></script>

  <script>
    // Rendering heartRate every 2 seconds
    function reloadBPM() {
      $("#heart_rate").load(window.location.href + " #heart_rate");
    }

    $(document).ready(function() {
      function refresh() {
        var div = $('#heart_rate'),
          divHtml = div.html();

        div.html(divHtml);
      }

      setInterval(function() {
        refresh()
        reloadBPM()
      }, 2000); //2000 is 2 seconds in miliseconds
    })

    // function reloadStatusBadges() {
    //   $("#status").load(window.location.href + " #status");
    // }
    // $(document).ready(function() {
    //   function refresh() {
    //     var p = $('#status'),
    //       pHtml = p.html();
    //
    //     p.html(divHtml);
    //   }
    //
    //   setInterval(function() {
    //     refresh()
    //     reloadStatusBadges()
    //   }, 1000); //2000 is 2 seconds in miliseconds
    // })

  </script>
</head>

<body>
  <div class="title">
    <h1 style="color:white"> <span class="projectName">NextSong</span><br style="margin : 0; padding-top:0;">
      smart music recommender, using machine learning.</h1>

  </div>

  <section id="features">
    <div class="row">

      <div class="card " style="width: 18rem;">
  <img class="card-img-top" src="..\static\images\bluetooth.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Connect the heart rate device using Pulsoid app</h5>
    <!-- <p class="card-text">Connect the heart rate device using Pulsoid app</p> -->
    <a href="https://pulsoid.net/login" target="_blank" class="btn btn-dark">Login to Pulsoid</a>
  </div>
  {% if checkSpotify==True %}
  <p class="badge badge-dark">Status: Connected! </p>
  {% endif %}
  {% if checkSpotify==False %}
  <p class="badge badge-dark">Status: Waiting for connection </p>
  {% endif %}

</div>

<div class="card ml-auto" style="width: 18rem;">
<img class="card-img-top" src="..\static\images\spotify.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Connect Spotify to NextSong</h5>
<p></p>
<a href="https://accounts.spotify.com/en/status" target="_blank" class="btn btn-dark">Login to Spotify</a>
</div>
{% if checkPulsoid==True %}
<p class="badge badge-dark">Status: Connected! </p>
{% endif %}
{% if checkPulsoid==False %}
<p class="badge badge-dark">Status: Waiting for connection </p>
{% endif %}

</div>

<div class="card ml-auto" style="width: 18rem;">
<img class="card-img-top" src="..\static\images\Rectangle 40.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">NextSong is searching for your next perfect song for you!</h5>
<!-- <p class="card-text">NextSong is searching for your next perfect song for you!</p> -->
<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
<p class="badge badge-dark">Status: </p>

</div>

<div class="card ml-auto" style="width: 18rem;">
<img class="card-img w-auto" src="..\static\images\listening.png" alt="Card image cap">
<div class="card-body">
<h5 id= "sticker" class="card-title">Enjoy listening!</h5>
<!-- <p class="card-text">Enjoy listening!</p> -->
<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
<!-- <p class="badge badge-dark">Status: </p> -->
</div>

    </div>

  </section>



  <div class="recommender">
    <h2 style="color:white">Your current queue: </h2>
    <div id="playList">

    </div>
    <div class="heart-rate">
      <hr height="2px" width="20%">
      <h2 style="color:white">Your current heart rate:<div id="heart_rate">{{hr}} BPM</div>
      </h2>
      <img src="../static/images/heart.png" alt="heart">
    </div>

  </div>



</body>

<footer id="footer">

  <p>Made with ❤ by ©NextSong, 2021 <br />This is an open source project
    <a href="https://github.com/michali123/music_recommender" target="_blank">GitHub</a>.
  </p>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
